@import './../shared/theme.scss';

.calendar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding-top: 2rem;

    &--no-interactive{
        .month{
            &__item{
                cursor: auto;

                &:hover{
                    border: none;
                }
            }
        }
    }
}

.month{
    margin: 0 2.5rem 3rem 0;
    &__name{
        font-family: $medium-font;
        font-size: 1.4rem;
        color: $main-color;
        margin-bottom: 1rem;
    }
    &__row{
        display: flex;

        &:first-of-type .month__item{
            background-color: transparent !important;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        color: $main-color;
        border-radius: 100%;
        margin: 0.25rem;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            border: 2px solid $gray-color;
        }

        &--weekend{
            background-color: rgb(227, 227, 227);
        }

        &--light{
            color: rgba(3, 101, 124, 0.4);
            cursor: auto;
            &:hover{
                border: none !important;
            }
        }

        &--autonomic{
            background-color: $turquoise-color !important;
            color: $white-color;
        }

        &--today{
            background-color: $selected-color !important;
            color: $white-color;
        }

        &--off{
            background-color: $green-color !important;
            color: $white-color;
        }

        &--national{
            background-color: $purple-color !important;
            color: $white-color;
        }

        &--local{
            background-color: $rose-color !important;
            color: $white-color;
        }

        &--day{
            cursor: auto;
            font-family: Arial, Helvetica, sans-serif;
            &:hover{
                border: none !important;
            }
        }

        &--empty{
            cursor: auto;
            background-color: transparent !important;
            &:hover{
                border: none !important;
            }
        }
    }
}