@import '../shared/theme.scss';

.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__main{
        display: flex;
        justify-content: space-between;
        padding: 0.75rem 1.5rem;
        background-color: $gray-color;
        width: 100%;
        box-sizing: border-box;
    }

    &__results{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: $main-color;
        span{
            margin-right: 0.5rem;
        }
    }

    &__toggle{
        cursor: pointer;
        display: flex;
        align-items: center;
        img{
            margin-right: 1rem;
        }
    }

    &__options{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid $gray-color;
        padding: 1.5rem 0 1.5rem 1.5rem;
        width: 100%;
        box-sizing: border-box;

        &--hide{
            display: none;
        }

        .combo{
            padding-right: 0;
            margin-right: 1.5rem;
        }

        .btn-container{
            width: 100%;
            margin: 1.5rem 1.5rem 0 0;
            .filter-btn{
                padding: 1rem 2rem;
                background-color: $gray-color;
                cursor: pointer;
                font-family: $regular-font;
                color: $main-color;
                font-size: 1.2rem;
                float: right;
                margin-left: 1rem;
            }
        }
        .field{
            border-width: 0 0 1px 0;
            border-color: $main-color;
            border-style: solid;
            font-size: 1.2rem;
            padding: 0.6rem 0;
            color: $main-color;
            margin: 0.5rem 1.5rem 0.5rem 1rem;

            &::placeholder{
                color: $main-color;
            }

            &:focus{
                outline: 0;
            }
        }
    }
}