@import './../shared/theme.scss';

.notification-area{
    position: fixed;
    top: 68px;
    right: 0;
    width: calc(100% - 4.8rem);
    max-width: 400px;
    margin: 0 2.4rem;
    
    .notification{
        display: flex;
        align-items: center;
        padding: 2rem 1.2rem;
        margin-bottom: 1rem;
        border-bottom: 3px solid $selected-color;
        background-color: $gray-color;
        font-family: $medium-font;
        box-sizing: border-box;

        &__ok-icon{
            margin-right: 1rem;
        }

        &__error-icon{
            margin-right: 1rem;
            width: 20px;
            height: 20px;
        }

        &__text{
            line-height: 1.5;
        }
        
        &__close{
            margin-left: auto;
            padding-left: 1rem;
            cursor: pointer;
        }

        &--error{
            border-bottom: 3px solid #f20000;
        }
    }

}

@media only screen and (max-width: 768px) {
    .notification{
        top: 128px;
    }
}
