@import './theme.scss';

.combo {
    min-width: 200px;
    padding: 1rem 0.5rem;
    flex-grow: 1;
    
    &__tag {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
    }
    
    &__options{
        border: 2px solid $gray-color;
        padding: 0.5rem;
        position: relative;
        
        select{
            position: relative;
            border: none;
            cursor: pointer;
            width: 100%;
            color: $main-color;
            font-size: 1.2rem;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            z-index: 100;
            padding-right: 2rem;

            &::-ms-expand{
                display: none;
            }
        }

        &::after{
            position: absolute;
            content: '';
            background: url('/css/images/dropdown.svg') no-repeat;
            width: 20px;
            height: 20px;
            top: 2px;
            right: 0;
            box-sizing: border-box;
        }

    }
    &--disabled{
        .combo__options{
            background-color: #f5f5f5;
            select{
                pointer-events: none;
            }

            &::after{
                background: none;
            }
        }
    }

    &--error{
        .combo__options{
            border-color: red;
        }
    }
}

.btn {
    color: $main-color;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 2px solid $selected-color;
    cursor: pointer;
    border-radius: 0;
    font-weight: normal;
    line-height: normal;
    transition: none;

    &:hover{
        background-color: $selected-color;
        color: $main-color;
    }

    &--secondary{
        border: none;

        &:hover {
            background-color: transparent;
        }
    }
    
    &--right{
        width: 150px;
        margin-left: auto;
        text-align: center;
        box-sizing: border-box;
    }

    &--disabled{
        border-color: $gray-color;
        color: $gray-color;
        cursor: not-allowed;
        pointer-events: none;

        &:hover{
            background-color: transparent;
            color: $gray-color;
        }
    }
}

.custom-checkbox{
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #a2acb3;
        box-sizing: border-box;
        background-color: white;

        &:after{
            content: "";
            position: absolute;
            display: none;
        }
    }

    &__input:checked ~ &__checkmark{
        background-color: $secondary-color;
        border: none;
    }

    &__input:checked ~ &__checkmark:after{
        display: block;
    }

    &__checkmark:after{
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.tab-selector{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $gray-color;

    &__option{
        font-size: 1.4rem;
        padding: 2.2rem 0 1.8rem 0;
        margin: 0 2.2rem;
        color: $main-color;
        cursor: pointer;

        &--selected{
            color: $secondary-color;
            border-bottom: 0.4rem solid $selected-color;
        }
    }
}

.state-tag{
    background-color: $gray-color;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: $main-color;

    &::before{
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 1rem 1px 0;
        background-color: gray;
    }
    
    &--green{
        &::before{
            background-color: rgb(6, 163, 6);
        }
    }

    &--red{
        &::before{
            background-color: rgb(238, 4, 4);
        }
    }
}

@media only screen and (max-width: 500px) {
    .combo{
        &__options{
            &::after {
              top: 0;
            }
        }
    }

    .btn{
        &--right{
            width: 100%;
        }
    }
  } 