@import './theme.scss';

.combo {
    min-width: 200px;
    padding: 1rem 0.5rem;
    flex-grow: 1;
    
    &__tag {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
    }
    
    &__options{
        border: 2px solid $gray-color;
        padding: 0.5rem;
        position: relative;
        
        select{
            position: relative;
            border: none;
            cursor: pointer;
            width: 100%;
            color: $main-color;
            font-size: 1.2rem;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            z-index: 100;
            padding-right: 2rem;

            &::-ms-expand{
                display: none;
            }
        }
        &::after{
            position: absolute;
            content: '';
            background: url('../public/assets/img/common/dropdown.svg') no-repeat;
            width: 20px;
            height: 20px;
            top: 2px;
            right: 0;
            box-sizing: border-box;
        }
    }
}



@media only screen and (max-width: 500px) {
    .combo{
        &__options{
            &::after {
              top: 0;
            }
        }
    }
  } 