@import './theme.scss';

.combo {
    min-width: 200px;
    padding: 1rem 0.5rem;
    flex-grow: 1;
    
    &__tag {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1rem;
    }
    
    &__options{
        border: 2px solid $gray-color;
        padding: 0.5rem;
        position: relative;
        
        select{
            position: relative;
            border: none;
            cursor: pointer;
            width: 100%;
            color: $main-color;
            font-size: 1.2rem;
            -webkit-appearance: none;
            appearance: none;
            background: transparent;
            z-index: 100;
            padding-right: 2rem;

            &::-ms-expand{
                display: none;
            }
        }
        &::after{
            position: absolute;
            content: '';
            background: url('/css/images/dropdown.svg') no-repeat;
            width: 20px;
            height: 20px;
            top: 2px;
            right: 0;
            box-sizing: border-box;
        }
    }
}

.btn {
    color: $main-color;
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: 2px solid $selected-color;
    cursor: pointer;
    border-radius: 0;
    font-weight: normal;
    line-height: normal;
    transition: none;

    &:hover{
        background-color: $selected-color;
        color: $main-color;
    }

    &--secondary{
        border: none;

        &:hover {
            background-color: transparent;
        }
    }
}

.custom-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input{
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark{
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        border: 1px solid #a2acb3;
        box-sizing: border-box;
        background-color: white;

        &:after{
            content: "";
            position: absolute;
            display: none;
        }
    }

    & &__input:checked ~ &__checkmark{
        background-color: $secondary-color;
        border: none;
    }

    & &__input:checked ~ &__checkmark:after{
        display: block;
    }

    & &__checkmark:after{
        left: 5px;
        top: 2px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@media only screen and (max-width: 500px) {
    .combo{
        &__options{
            &::after {
              top: 0;
            }
        }
    }
  } 