
$main-color: #004254;
$secondary-color: #03657c;
$selected-color: #fbbb21;
$white-color: #ffffff;
$gray-color: #e8e8e8;
$dark-gray-color: #63656a;
$turquoise-color: #3df2e0;

@font-face{
    font-family: 'NeoSansStd-Medium';
    src: url('./../public/assets/fonts/AM265_.ttf'),
         url('./../public/assets/fonts/NeoSans-Medium.otf');
}
@font-face{
    font-family: 'NeoSansStd-Regular';
    src: url('./../public/assets/fonts/AM263_.ttf'),
         url('./../public/assets/fonts/NeoSans-Light.otf');
}

$medium-font: 'NeoSansStd-Medium';
$regular-font: 'NeoSansStd-Regular';