
$main-color: #004254;
$secondary-color: #03657c;
$selected-color: #fbbb21;
$white-color: #ffffff;
$gray-color: #e8e8e8;
$dark-gray-color: #63656a;
$turquoise-color: #3df2e0;
$rose-color: #d96299;
$purple-color: #6e1ba6;
$green-color: #9fbf2a;

@font-face{
    font-family: 'NeoSansStd-Light';
    src: url('./../public/assets/fonts/AM261_.ttf'),
         url('./../public/assets/fonts/NeoSans-Light.otf');
}
@font-face{
    font-family: 'NeoSansStd-Regular';
    src: url('./../public/assets/fonts/AM263_.ttf'),
         url('./../public/assets/fonts/NeoSans-Light.otf');
}
@font-face{
    font-family: 'NeoSansStd-Medium';
    src: url('./../public/assets/fonts/AM265_.ttf'),
         url('./../public/assets/fonts/NeoSans-Medium.otf');
}

$light-font: 'NeoSansStd-Light';
$regular-font: 'NeoSansStd-Regular';
$medium-font: 'NeoSansStd-Medium';