@import './shared/theme.scss';

.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    border-bottom: 1px solid $gray-color;

    .combo-container{
        display: flex;
        align-items: center;
        .combo{
            display: flex;
            align-items: center;
            min-width: 130px;
    
            &__tag{
                font-family: $medium-font;
                font-size: 1.6rem;
                margin: 0 1rem 0 0;
            }
    
            &__options{
                width: 100%;
            }
        }
    }

    &__year{
        display: flex;
        align-items: center;
        margin: 1rem 0;

        &>*{
            margin-right: 0.5rem;
        }
        .increaser{
            padding: 0.5rem;
            background-color: $gray-color;
            cursor: pointer;
        }
    }


    &__actions{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;

        .btn {
            padding: 1rem 1.5rem;

            &:first-child{
                margin-right: 1rem;
            }
        }
    }
}

.dashboard{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-sizing: border-box;

    .review-indicator{
        display: none;
        align-items: center;
        padding: 1rem 1.5rem;
        margin: 1rem 0;
        background-color: #fff3d5;
        
        &__icon{
            margin-right: 1rem;
            width: 2.2rem;
            height: 2.2rem;
        }
        
        &__text{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            color: $main-color;
        }
    }

    &__resume{
        width: 100%;
        font-size: 1.2rem;
        color: $main-color;
        box-sizing: border-box;
        
        .filters{
            &__results{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
            }

            &__options{
                padding: 1.5rem 0 1.5rem 1.5rem;
                .combo, .field{
                    min-width: 8rem;
                    max-width: 50%;
                    box-sizing: border-box;
                    height: 3rem;
                    flex-grow: 1;
                }
                .combo{
                    margin: 0.5rem 1rem 0 0;
                    padding: 0 0 0 1rem;
                    &__options{
                        padding: 0.75rem 0.5rem;

                        &::after{
                            top: 4px;
                        }
                    }
                }
                .field{
                    border-width: 0 0 1px 0;
                    border-color: $main-color;
                    border-style: solid;
                    font-size: 1.2rem;
                    padding: 0.6rem 0 1rem 0;
                    color: $main-color;
                    margin: 0.5rem 1.5rem 0.5rem 1rem;
        
                    &::placeholder{
                        color: $main-color;
                    }
        
                    &:focus{
                        outline: 0;
                    }
                }
                .btn-container{
                    width: 100%;
                    margin: 1.5rem 1.5rem 0 0;
                    .search-btn{
                        padding: 1rem 2rem;
                        background-color: $gray-color;
                        cursor: pointer;
                        float: right;
                    }
                }
            }
        }
    }

    &__data{
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        margin-top: 1rem;
        .table{
            width: 100%;
            min-width: 1000px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            margin-top: 1rem;
            
            &__header{
                font-weight: bold;
                color: $main-color;
                display: flex;
                border-bottom: 1px solid $selected-color;

                .col, .col--s, .col--l, .col--xl, .col--xxl {
                    align-items: flex-end !important; 
                    justify-content: center;
                    text-align: center;
                }

                .sub-table{
                    display: flex;
                    flex-direction: column;
                    width: 24%;
                    min-width: 24%;
                    box-sizing: border-box;
    
                    &__header{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 3rem;
                        border-color: $gray-color;
                        border-style: solid;
                        border-width: 1px 1px 0 1px;
                    }
                    &__sections{
                        display: flex;
                        text-align: center;
                        box-sizing: border-box;
    
                        .section{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 25%;
                            min-height: 3rem;
                            padding: 0 0.5rem;
                            background-color: $gray-color;
                        }
                    }
                }
            }

            &__body{
                color: $dark-gray-color;
                .row{
                    display: none;
                    border-bottom: 1px solid $gray-color;
                    min-height: 5rem;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(247, 247, 247);
                    }

                    &--show {
                        display: flex;
                    }

                    .col:first-child{
                        cursor: auto;
                    }

                    .col:nth-child(2){
                        color: $main-color;
                    }

                    &--review{
                        background-color: #fff3d5;
                        &:hover{
                            background-color: #ffe7a9;
                        }
                    }
                }
            }
            &__footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4rem;
                padding: 2rem 0 2rem 1rem;
                p{
                    color: $secondary-color;
                }

                
            }

            .col{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                box-sizing: border-box;
                min-height: 5rem;
                width: 5%;
                min-width: 5%;
     
                &--xs{
                    width: 3%;
                    min-width: 3%;
                }
                &--s{
                    width: 4%;
                    min-width: 4%;
                }
                &--subsection{
                    width: calc(24% / 4);
                    min-width: calc(24% / 4);
                }
                &--l{
                    width: 7%;
                    min-width: 7%;
                }
                &--xxl{
                    width: 24%;
                    min-width: 24%;
                    padding-left: 0.5rem;
                }
            }
            .border-r{
                border-right: 1px solid $gray-color;
                box-sizing: border-box;
            }
            .border-l{
                border-left: 1px solid $gray-color;
                box-sizing: border-box;
            }
        }
    }
}

.copy-modal{
    &__text{
        font-size: 1.3rem;
        margin: 2rem 0;
        font-family: $regular-font;

        &--action{
            margin: 4rem 0 1rem 0;
            text-align: center;
        }
    }

    .combo{
        padding: 0;
        max-width: 300px;
        flex-direction: row;

        &__tag{
            margin-bottom: 1rem;
        }
    }
    .modal{
        &__body{
            .calendar-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2rem;
    
                p{
                    padding: 1rem 2rem;
                }
            }
        }

        &__footer{
            justify-content: center;
            .btn-container{
                margin-left: 0;
            }
        }
    }
}

.table-controller{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 60px;
    width: calc(100% - 60px);
    background-color: $selected-color;
    min-height: 6.4rem;
    padding: 1rem 2rem;
    box-sizing: border-box;

    &__resume{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 1rem 0;
    }

    &__actions{
        display: flex;
        flex-wrap: wrap;

        .action{
            display: flex;
            align-items: center;
            margin: 1rem 2rem 1rem 0;
            cursor: pointer;

            &:last-child{
                margin-right: 0;
            }

            &__icon{
                margin-right: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .filter{
        justify-content: space-around;
    }

    .filters{
        &__options{
            .field{
                flex-grow: 0 !important;
                width: calc(50% - 2.5rem);
                max-width: 50% !important;
            }
        }
    }

    .table-controller{
        width: 100%;
        left: 0;
    }
}

@media only screen and (max-width: 470px) {
    .filter{
        .combo-container{
            flex-direction: column;
        }
    }

    .filters{
        &__options{
            .field, .combo{
                width: 100%;
                max-width: 100% !important;
            }
        }
    }

}
