@import './shared/theme.scss';

.filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2rem;
    border-bottom: 1px solid $gray-color;

    &__year{
        display: flex;
        align-items: center;
        margin: 1rem 0;

        &>*{
            margin-right: 0.5rem;
        }

        .combo{
            display: flex;
            align-items: center;
            min-width: 130px;

            &__tag{
                font-family: $medium-font;
                font-size: 1.6rem;
                margin: 0 1rem 0 0;
            }

            &__options{
                width: 100%;
            }
        }
        .increaser{
            padding: 0.5rem;
            background-color: $gray-color;
            cursor: pointer;
        }
    }

    &__searcher{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        &>*{
            margin: 1rem 1.5rem 1rem 0;
        }
        .field{
            min-width: 10rem;
            max-width: 15rem;
            flex-grow: 1;
            box-sizing: border-box;
            height: 3rem;
            border-width: 0 0 1px 0;
            border-color: $main-color;
            border-style: solid;
            font-size: 1.4rem;
            padding: 0.6rem 0 1rem 0;
            color: $main-color;

            &::placeholder{
                color: $main-color;
            }

            &:focus{
                outline: 0;
            }
        }

        .search-btn{
            padding: 0.5rem;
            background-color: $gray-color;
            cursor: pointer;
        }
    }

    &__actions{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem 0;

        .btn {
            padding: 1rem 1.5rem;

            &:first-child{
                margin-right: 1rem;
            }
        }
    }
}

.dashboard{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-sizing: border-box;

    &__resume{
        width: 100%;
        background-color: $gray-color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        color: $main-color;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
    }

    &__data{
        width: 100%;
        box-sizing: border-box;
        overflow: auto;
        .table{
            width: 100%;
            min-width: 1000px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            margin-top: 1rem;
            
            &__header{
                font-weight: bold;
                color: $main-color;
                display: flex;
                border-bottom: 1px solid $selected-color;

                .col, .col--s, .col--l, .col--xl, .col--xxl {
                    align-items: flex-end !important; 
                    justify-content: center;
                    text-align: center;
                }

                .sub-table{
                    display: flex;
                    flex-direction: column;
                    width: 24%;
                    min-width: 24%;
                    box-sizing: border-box;
    
                    &__header{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-height: 3rem;
                        border-color: $gray-color;
                        border-style: solid;
                        border-width: 1px 1px 0 1px;
                    }
                    &__sections{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        box-sizing: border-box;
    
                        .section{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 25%;
                            min-height: 3rem;
                            padding: 0 0.5rem;
                            background-color: $gray-color;
                        }
                    }
                }
            }

            &__body{
                color: $dark-gray-color;
                .row{
                    display: none;
                    border-bottom: 1px solid $gray-color;
                    min-height: 5rem;
                    cursor: pointer;

                    &:hover{
                        background-color: rgb(247, 247, 247);
                    }

                    &--show {
                        display: flex;
                    }

                    .col:first-child{
                        cursor: auto;
                    }

                    .col:nth-child(2){
                        color: $main-color;
                    }

                    &--review{
                        background-color: #fff3d5;
                        
                        &:hover{
                            background-color: #ffe7a9;
                        }
                    }
                }
            }
            &__footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.4rem;
                padding: 2rem 0 2rem 1rem;
                p{
                    color: $secondary-color;
                }

                
            }

            .col{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 0;
                box-sizing: border-box;
                min-height: 5rem;
                width: 5%;
                min-width: 5%;
     
                &--xs{
                    width: 3%;
                    min-width: 3%;
                }
                &--s{
                    width: 4%;
                    min-width: 4%;
                }
                &--subsection{
                    width: calc(24% / 4);
                    min-width: calc(24% / 4);
                }
                &--l{
                    width: 7%;
                    min-width: 7%;
                }
                &--xxl{
                    width: 24%;
                    min-width: 24%;
                    padding-left: 0.5rem;
                }
            }
            .border-r{
                border-right: 1px solid $gray-color;
                box-sizing: border-box;
            }
            .border-l{
                border-left: 1px solid $gray-color;
                box-sizing: border-box;
            }
        }
    }
}

.table-controller{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 60px;
    width: calc(100% - 60px);
    background-color: $selected-color;
    min-height: 6.4rem;
    padding: 1rem 2rem;
    box-sizing: border-box;

    &__resume{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 1rem 0;
    }

    &__actions{
        display: flex;
        flex-wrap: wrap;

        .action{
            display: flex;
            align-items: center;
            margin: 1rem 2rem 1rem 0;
            cursor: pointer;

            &:last-child{
                margin-right: 0;
            }

            &__icon{
                margin-right: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .filter{
        justify-content: space-around;
    }

    .table-controller{
        width: 100%;
        left: 0;
    }
}
