@import './shared/theme.scss';

.ui-timepicker-wrapper{
    width: 100px;
    box-sizing: border-box;
}

.detail{
    display: flex;
    flex-direction: column;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5rem;
        height: 60px;
        border-bottom: 1px solid $gray-color;

        .header-text{
            font-family: $medium-font;
            font-size: 1.6rem;
            color: $main-color;
            margin-right: 2rem;
        }

        .header-controllers{
            display: flex;
            align-items: center;

            &__btns{
                display: flex;
                .btn:first-child{
                    margin-right: 1rem;
                }
            }

            &__close{
                margin-left: 2rem;
                cursor: pointer;
            }
        }
    }

    &__body{
        display: flex;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        width: 240px;
        border-right: 1px solid $gray-color;
        box-sizing: border-box;

       .aside-section{
           color: $main-color;
           margin: 0 2rem 0 2.5rem;
           padding: 2rem 0;
           border-bottom: 1px solid $gray-color;

           h2 {
                font-size: 1.8rem;
                font-family: $light-font;
                &:first-of-type{
                    margin-bottom: 2rem;
                }
           }

           &__title{
                font-family: $medium-font;
                font-size: 1.4rem;
                margin-bottom: 1.5rem;
            }
            
            &__subtitle{
                display: block;
                font-size: 1.2rem;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 0.7rem;
           }

           .block{
               margin-bottom: 1.7rem;

               &:last-child{
                   margin-bottom: 0;
               }
               &__title{
                   font-family: $medium-font;
                   font-size: 1.2rem;
                   margin-bottom: 1rem;
               }
               &__regist{
                   display: flex;
                   justify-content: space-between;
                   font-family: Arial, Helvetica, sans-serif;
                   margin-bottom: 0.8rem;
                   .regis{
                       &-value{
                        font-weight: bold;
                       }
                   }
               }
           }

       }
    }

    &__content{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
        width: calc(100% - 4rem);
        background-color: #fafafa;
    }
    
    &__tabs{
        display: flex;
        width: 100%;
        border-bottom: 1px solid $gray-color;
        max-width: 1000px;
    
        .tab{
            font-size: 1.4rem;
            padding: 2.2rem 0 1.8rem 0;
            margin-right: 4rem;
            color: $main-color;
            cursor: pointer;
    
            &--selected{
                color: $secondary-color;
                border-bottom: 0.4rem solid $selected-color;
            }
        }
    }

    &__display{
        display: none;
        padding: 2rem 0;
        max-width: 1000px;

        &--selected{
            display: block;
        }

    }
}

.schedule{
    .schedule-card{
        background-color: $white-color;
        border: 1px solid $gray-color;
        margin-bottom: 2rem;
        
        &__title{
            margin: 0 2rem;
            padding: 2rem 0;
            border-bottom: 1px solid $gray-color;
            font-family: $medium-font;
            color: $main-color;
            font-size: 1.8rem;
        }

        &__form{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 2rem;
            padding: 2rem 0;
            .field{
                display: flex;
                align-items: center;
                margin: 0.5rem 0;
                width: 250px;
                label{
                    text-align: right;
                    width: calc(100px - 1rem);
                    margin-right: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.2rem;
                    color: $main-color;
                    box-sizing: border-box;
                }
                input[type=text]{
                    width: 150px;
                    border: 2px solid $gray-color;
                    outline: none;
                    padding: 0.6rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.2rem;
                    color: $main-color;
                    box-sizing: border-box;
                }

                &--checkbox{
                    display: flex;
                    justify-content: center;
                    margin-top: 1rem;
                    .field__tag{
                        text-align: right;
                        margin-right: 1rem;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.2rem;
                        color: $main-color;
                        box-sizing: border-box;
                    }
                    .custom-checkbox{
                        width: auto;
                    }
                }

                &--calculated{
                    input{
                        background-color: rgb(245, 245, 245);
                        color: $dark-gray-color;
                        pointer-events: none;
                    }
                }

                &--textarea{
                    margin-top: 0.5rem;
                    align-items: flex-start;
                    width: 100%;
                    margin: 0.5rem 0;

                    label{
                        padding-top: 0.5rem;
                    }

                    textarea{
                        flex-grow: 1;
                        border: 2px solid $gray-color;
                        outline: none;
                        box-sizing: border-box;
                        resize: none;
                        height: 8rem;
                        padding: 0.6rem;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.2rem;
                        color: $main-color;
                        margin: 0;
                        overflow: auto;
                    }
                }

                &--extend{
                    width: 100%;
                    label{
                        width: calc(100px - 1rem);
                        flex-grow: 0;
                    }
                    input{
                        width: auto;
                        flex-grow: 1;
                    }
                }

                &--fulfill{
                    flex-basis: 50%;
                }
            }
            .double-field{
                display: flex;
                flex-direction: column;
                flex-basis: calc(50% - 1rem);
                margin: 0 1rem 1rem 0;
                &__title{
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: $main-color;
                    min-height: 1.2rem;
                }
                &__fields{
                    display: flex;
                    flex-wrap: wrap;
                    .field{
                        width: 175px;
                        input{
                            width: 100px;
                        }
                    }
                }
            }
            .combo{
                display: flex;
                align-items: center;
                flex-grow: 0;
                min-width: 250px;
                padding: 0;
                margin: 0.5rem 0;
                &__tag{
                    text-align: right;
                    margin: 0 1rem 0 0;
                    width: calc(100px - 1rem);
                }
                &__options{
                    flex-grow: 1;
                    box-sizing: border-box;
                }
            }
            .btn-container{
                display: flex;
                justify-content: flex-end;
                width: 100%;
                margin: 1.25rem 0 0.5rem 0;
                box-sizing: border-box;
                .add-template{
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    background-color: $gray-color;
                    cursor: pointer;
                    img{
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    } 
}

.holidays{
    padding-top: 2rem;
    &>*{
        margin: 1.5rem 0;
    }

    .import-btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 2rem;
        margin: 0 0 2rem auto;
        background-color: $gray-color;
        max-width: 120px;
        box-sizing: border-box;
        cursor: pointer;
        img{
            margin-right: 1rem;
        }
    }
}

.preview{
    background-color: $white-color;
    border: 1px solid $gray-color;
    padding: 0 2rem;
    margin: 2rem 0;
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid $gray-color;
        padding: 1rem 0;

        &__text{
            color: $main-color;
            padding: 1rem 0;
        }
        
        h2{
            font-family: $medium-font;
            font-size: 1.8rem;
        }

        h3{
            font-family: $regular-font;
            font-size: 1.6rem;
            margin-top: 1.5rem;
        }

        .legend{
            display: flex;
            flex-wrap: wrap;
            
            .color{
                display: flex;
                align-content: center;
                padding: 1rem 0;
                margin: 0 1rem;
                &__sample{
                    content: ' ';
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-right: 1rem;

                    &--today{
                        background-color: $selected-color;
                    }
                    &--national{
                        background-color: $purple-color;
                    }
                    &--autonomic{
                        background-color: $turquoise-color;
                    }
                    &--local{
                        background-color: $rose-color;
                    }
                    &--off{
                        background-color: $green-color;
                    }
                }
                &__tag{
                    font-family: Arial, Helvetica, sans-serif;
                    color: $main-color;
                    font-size: 1.2rem;
                }
            }
        }

    }

    .informative-box{
        display: flex;
        padding: 1rem 2rem 1rem 1rem;
        margin: 2rem 0;
        background-color: $gray-color;
        p {
            font-family: Arial, Helvetica, sans-serif;
        }
        &__icon{
            margin: 0 1rem;
            img{
                height: 20px;
                width: 20px;
            }
        }
        &__text{
            &--bold{
                font-weight: bold;
            }
            &--main{
                line-height: 2.1rem;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid #a2acb3;
            }
            &--aux{
                margin-top: 1rem;
                line-height: 1.6rem;
            }
        }
    }

    .timetable{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 1rem;
        box-sizing: border-box;
        table, th, td{
            text-align: center;
            vertical-align: middle;
            padding: 1rem 0;
        }

        thead{
            border-bottom: 1px solid $selected-color;
        }

        tbody tr{
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: $gray-color;
        }


        table{
            width: 100%;
            font-size: 1.2rem;

            th{
                min-width: 50px;
            }
            .br-light{
                border-right: 1px solid $gray-color;
            }
            .inline-title{
                color: $main-color;
                font-weight: bold;
            }
        }

        &__tittle{
            color: $main-color;
            font-size: 1.4rem;
            font-weight: bold;
            border: none;
        }

        &__subtittle{
            font-weight: bold;
            color: $main-color;
            background-color: $gray-color;
            border: 1px solid $gray-color;
            box-sizing: border-box;
        }

        &__section{
            font-weight: bold;
            color: $main-color;
            border-width: 0 1px 1px 1px;
            border-color: $gray-color;
            border-style: solid;
            box-sizing: border-box;
        }

        &__subsection{
            &:nth-child(even){
                border-left: 1px solid $gray-color;
            }
            &:last-child{
                border-right: 1px solid $gray-color;
            }
        }

        &__row-tittle{
            font-weight: bold;
            color: $main-color;
            border-right: 1px solid $gray-color;
        }

    }
}

.comments{
    .add-comment{
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        margin: 1rem 0 1rem auto;
        background-color: $gray-color;
        max-width: 130px;
        cursor: pointer;
        img{
            margin-right: 0.5rem;
        }
    }
    .comments-board{
        .comment{
            display: flex;
            flex-direction: column;
            margin: 2.5rem 0;
            padding: 2rem 2.5rem 1rem 2.5rem;
            border: 1px solid $gray-color;
            background-color: $white-color;

            &__header{
                display: flex;
                align-items: center;
                padding-bottom: 1rem;
                border-bottom: 1px solid $gray-color;
                
                .initials{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: $gray-color;
                    font-size: 2rem;
                    color: $dark-gray-color;
                    margin-right: 2rem;
                }

                .name{
                    font-family: $medium-font;
                    font-size: 1.8rem;
                    color: $main-color;
                }

                .user-tag{
                    display: flex;
                    align-items: center;
                    padding: 0.75rem 1.5rem;
                    margin-left: 2rem;
                    background-color: $gray-color;
                    border-radius: 4px;
                    p{
                        font-size: 1.1rem;
                        font-family: $medium-font;
                        color: $dark-gray-color;
                    }
                    img{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

.template-modal{
    .template-table{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2rem;
        border: 1px solid $gray-color;
        margin-top: 2rem;
        &__header{
            font-weight: bold;
            color: $main-color;
            border-bottom: 2px solid $selected-color;
            padding: 2rem;
            text-align: center;
            background-color: $gray-color;
        }
        &__row{
            display: none;
            color: $dark-gray-color;
            padding: 1rem;
            border-bottom: 1px solid $gray-color;
            cursor: pointer; 
            line-height: 1.75;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                background-color: rgb(245, 245, 245);
            }
            &--selected{
                background-color: rgb(242, 242, 242) !important;
                color: $main-color;
            }
            &--show{
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .detail{
        &__body{
            flex-direction: column;
        }

        &__aside{
            width: auto;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px solid $gray-color;

            .aside-section{
                border: none;
                min-width: 175px;
                max-width: 350px;
                margin: 1.5rem auto;
                padding: 0 1rem;

                &--main{
                    display: flex;
                    align-items: center;
                    max-width: none;
                    width: 100vw;
                    margin: 0 2rem 0 2.5rem;
                    padding: 2rem 0;
                    border-bottom: 1px solid $gray-color;

                    h2:first-child{
                        margin: 0 auto 0 0;
                    }

                    h3 {
                        margin: 0 1rem 0 0;
                    }
                }
            }
        }
    }
}