@import './shared/theme.scss';

.detail{
    display: flex;
    flex-direction: column;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__body{
        display: flex;
    }

    &__aside {
       width: 240px;
       
    }
}