@import './shared/reset.scss';
@import './shared/common.scss';
@import './components/modal.scss';
@import './components/calendar.scss';
@import './components/holiday-card.scss';
@import './components/notification.scss';
@import 'navbar.scss';

html {
    font-size: 62.5%;
    font-family: $regular-font;
}

p {
  font-size: 1.2rem;
  color: $main-color;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}