@import './shared/reset.scss';
@import 'navbar.scss';
@import 'settings.scss';

html {
    font-size: 62.5%;
    font-family: $regular-font;
}

p {
  font-size: 1.2rem;
  color: $main-color;
}

.content{
  display: flex;
}

@media only screen and (max-width: 768px){
  .content{
    flex-direction: column;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
} 