@import './shared/theme.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $main-color;
    color: $white-color;

    &__main, &__secondary {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        >* {
            display: flex;
            align-items: center;
        }
    }

    &__main {
        &>*{
            padding: 0 2rem;
        }
        .section{
            font-size: 1.6rem;
            font-family: $medium-font;
            color: $white-color;
    
            &--aux{
                border-left: 1px solid $white-color;
                font-size: 1.4rem;
                font-family: $regular-font;
            }
        }
    }
    &__secondary{
        &>* {
            margin: 0 1rem;
            cursor: pointer;
        }

        .user{
            padding: 0.8rem 0.7rem;
            font-size: 1.2rem;
            border-radius: 10rem;
            color: $main-color;
            background-color: $white-color;
            
        }
        .logout{
            display: flex;
            align-items: center;
            &__text{
                margin: 0.2rem 0 0 0.5rem;
                color: $white-color;
            }
        }
        .logo{
            padding: 1rem 2rem;
            border-left: 1px solid white;
        }
    }
}

.content{
    display: flex;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    width: 60px;
    background-color: $secondary-color;
    padding: 0.4rem 0;
    box-sizing: border-box;

    &__link {
        margin: 4px 0;
    }
    
    &__icon {
        padding: 1.2rem;
        border-width: 0 8px;
        border-style: solid;
        border-color: $secondary-color;
        cursor: pointer;

        &--selected{
            background-color: $main-color;
            border-right-color: $selected-color;
        }

    }
    &__carousel {
        margin-top: auto;
        padding-bottom: 1.2rem;
    }
}

.wrapper{
    width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
    overflow: auto;
    position: relative;
}


@media only screen and (max-width: 768px) {

    .content{
        flex-direction: column;
    }

    .side-bar{
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        height: 60px;
        padding: 0;

        &__link{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 1;
            margin: 0;
            height: 100%;
        }

        &__icon{
            padding: 1.2rem 20%;
            border-width: 8px 0;
            &--selected{
                border-bottom-color: $selected-color;
            }
        }
    }

    .wrapper{
        width: 100%;
        max-height: none;
    }

    .section, .logo, .logout__text, .side-bar__carousel{
        display: none;
    }
}