@import './shared/theme.scss';

.holiday-selector{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $gray-color;

    &__option{
        font-size: 1.4rem;
        padding: 2.2rem 0 1.8rem 0;
        margin: 0 2.2rem;
        color: $main-color;
        cursor: pointer;

        &--selected{
            color: $secondary-color;
            border-bottom: 0.4rem solid $selected-color;
        }
    }
}

.card{
    margin: 2.2rem;
    max-width: 1032px;
    box-sizing: border-box;
}

.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__main{
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background-color: $gray-color;
    }

    &__results{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: $main-color;
        span{
            margin-right: 0.5rem;
        }
    }

    &__toggle{
        cursor: pointer;
        display: flex;
        align-items: center;
        img{
            margin-right: 1rem;
        }
    }

    &__options{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid $gray-color;
        padding: 1.5rem;
        width: 100%;
        box-sizing: border-box;

        &--hide{
            display: none;
        }
    }
}

.holiday{
    display: flex;
    border: 1px solid $gray-color;

    &__decorator{
        width: 100%;
        margin: 0.5rem;
        border-left: 0.8rem solid $turquoise-color;
    }

    &__info{
        flex-grow: 1;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 2rem;
        padding: 1.25rem 0;
        border-bottom: 1px solid $gray-color;

        .title{
            display: flex;
            align-items: center;
            padding: 1.25rem 4rem 1.25rem 0;

            &__text {
                font-size: 1.8rem;
                font-family: $medium-font;
                color: $main-color;
            }

            &__copy-tag{
                display: none;
                align-items: center;
                width: auto;
                background-color: $gray-color;
                border-radius: 4px;
                padding: 0 1rem;
                margin-left: 2rem;
                
                p{
                    font-size: 1.1rem;
                    font-family: $medium-font;
                    color: $dark-gray-color;
                }

                img {
                    width: 2rem;
                    margin: 0.6rem 0 0.6rem 1rem;
                }
            }

        }

    }
    
    
    &__actions{
        display: flex;
        
        .action{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-right: 4rem;
            
            &__text{
                margin-left: 1rem;
            }
            &__img{
                width: 2rem;
            }
            &:last-child{
                margin-right: 1rem;
            }
        }
    }
    
    &__dates{
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem 2rem 1rem 2rem;
        
        .date{
            font-size: 1.1rem;
            font-family: $medium-font;
            margin: 0 0.8rem 0.8rem 0;
            padding: 1rem 1.7rem 0.8rem 1.7rem;
            background-color: $gray-color;
            color: $dark-gray-color;
        }
    }
    &--copy{
        .holiday{
            &__header{
                .title{
                    padding: 0.5rem 4rem 0.5rem 0;
                    &__copy-tag{
                        display: flex;
                    }
                }
            }
            &__actions{
                .action:first-child{
                    display: none;
                }
            }
        }
    }
}

.notification-area{
    position: fixed;
    top: 68px;
    right: 0;
    width: calc(100% - 4.8rem);
    max-width: 400px;
    margin: 0 2.4rem;
    
    .notification{
        display: flex;
        align-items: center;
        padding: 2.4rem 1.2rem;
        margin-bottom: 1rem;
        border-bottom: 3px solid $selected-color;
        background-color: $gray-color;
        font-family: $medium-font;
        box-sizing: border-box;

        &__ok-icon{
            margin-right: 1rem;
        }

        &__close{
            margin-left: auto;
            cursor: pointer;
        }
    }

}

.date-picker .modal{
    &__body{
        border-bottom: 1px solid $gray-color;

        .filters{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 1rem;
            border-bottom: 1px solid $gray-color;

            .combo{
                display: flex;
                align-items: center;
                flex-grow: 0;
                font-size: 1.4rem;
                &__tag{
                    margin: 0 2rem 0 0;
                }
                &__options {
                    min-width: 125px;
                }
            }
            .legend{
                margin-left: auto;

                .color{
                    display: flex;
                    align-content: center;
                    margin: 0 1rem;
                    &__sample{
                        content: ' ';
                        width: 1.2rem;
                        height: 1.2rem;
                        background-color: $selected-color;
                        margin-right: 1rem;
                    }
                    &__tag{
                        font-family: Arial, Helvetica, sans-serif;
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.calendar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding-top: 2rem;
}

.month{
    margin: 0 1rem 3rem 0;
    &__name{
        font-family: $medium-font;
        font-size: 1.4rem;
        color: $main-color;
        margin-bottom: 1rem;
    }
    &__row{
        display: flex;

        &:first-of-type .month__item{
            background-color: transparent !important;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
        color: $main-color;
        border-radius: 100%;
        margin: 0.25rem;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
            border: 2px solid $gray-color;
        }

        &:nth-child(6), &:nth-child(7){
            background-color: rgba(232, 232, 232, 0.3);
        }

        &--light{
            color: rgba(3, 101, 124, 0.4);
            cursor: auto;
            &:hover{
                border: none !important;
            }
        }

        &--holiday{
            background-color: $turquoise-color !important;
            color: $white-color;
        }

        &--today{
            background-color: $selected-color !important;
            color: $white-color;
        }
    }
}

.name-form .modal{
    &__body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 2rem;

        .field{
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            flex-grow: 1;
            max-width: 400px;
            min-width: 300px;
            width: 40%;

            &__name{
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 1rem;
            }
            &__input{
                width: calc(100% - 4rem);
                font-size: 1.2rem;
                font-family: Arial, Helvetica, sans-serif;
                color: $main-color;
                border: 2px solid $gray-color;
                height: 3.2rem;
                padding: 0 1rem;

                &:focus{
                    border-color: $main-color;
                    box-shadow: none;
                    outline: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .title{
        padding: 1.25rem 0;
    }

    .notification{
        top: 128px;
    }
}
